.controls {white-space: nowrap;}

@-moz-keyframes .loading-list {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes .loading-list {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes .loading-list {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

.loading-list {text-align: center;}

.loading-list i {
    font-size: 50px;
    -webkit-animation-name: spin;
    -webkit-animation-duration: 1500ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 1500ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 1500ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform:rotate(0deg);
  }

  to {
    -webkit-transform:rotate(360deg);
  }
}

.value {white-space: pre-wrap;}

#inputValue {height: 200px;}

.sidebar-wrapper {position: fixed;}

@media screen and (max-width: 1000px), screen and (max-height: 650px) {
    .sidebar-wrapper {position: static;}
    #inputValue {height: auto;}
}