.storyManager {margin-top: 10px; padding: 5px;}
.storyManager label, .storymanager select {font-weight: normal; padding: 0 15px; margin: 0;}
.controls {white-space: nowrap;}
.map-controls {z-index: 9999;}

@-moz-keyframes .loading-list {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes .loading-list {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes .loading-list {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

.loading-list {text-align: center;}

.loading-list i {
    font-size: 50px;
    -webkit-animation-name: spin;
    -webkit-animation-duration: 1500ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 1500ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 1500ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform:rotate(0deg);
  }

  to {
    -webkit-transform:rotate(360deg);
  }
}

.value {white-space: pre-wrap;}

#inputValue {height: 200px;}

.sidebar-wrapper {position: fixed;}
.storymap .sidebar-wrapper {position: initial}
.storymap .aeform {width: 100%;}
.storymap .aelist {display: none;}

#cy {
  height: 85%;
  width: 99%;
  position: absolute;
  top: 120px;
  left: 0px;
  outline: 1px solid #000;
}

.filters {}

ul.unstyled {
  list-style: none;
}

ul.unstyled li {
  float: left;
  padding: 5px 5px 5px 0;
  font-weight: bold;
}

@media screen and (max-width: 1000px), screen and (max-height: 650px) {
    .sidebar-wrapper {position: static;}
    #inputValue {height: auto;}
}